################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug
/.vs/AbpOven/v14/.suo
.vs/AbpOven/v15/.suo
packages/
